.btn-solid,.btn-open,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-family: $font__main;
	font-weight: $font__weight;
	font-style: italic;
    border:3px solid $color__orange;
    color: #fff;
    font-size: 22px;
    line-height: 1;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    transition-duration: .4s;
    background:radial-gradient(ellipse at center, rgba(0, 0, 0, 0.025) 0%, rgba(0, 0, 0, 0.15) 100%);

	&:hover {
        color:#fff;
        background:radial-gradient(ellipse at center, rgba(0, 0, 0, 0.325) 0%, rgba(0, 0, 0, 0.315) 100%);
	}

	&:active,
	&:focus {
    }
}