input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #fff!important;
	border: 5px solid #d64b26;
	border-radius: 5px;
	padding: 3px;
	background-color: rgba( 0,0,0,.4 );

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}



::-webkit-input-placeholder { 
	color:#aaa; 
}

:-moz-placeholder { 
	opacity: 1; 
	color:#aaa; 
} /* Firefox 18- */

::-moz-placeholder { 
	opacity: 1; 
	color:#aaa; 
} /* firefox 19+ */

:-ms-input-placeholder { 
	color:#aaa; 
} /* ie */

input:-moz-placeholder { 
	color:#aaa; 
}



.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 0!important;
}

#label_1_2_1{
	color:#fff;
}