/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

.site-header {
  .inner-header {
    .identity {
      max-width: 300px;
      width: 300px;
    }
    .menu-main-menu-container {
      position: initial;
      height: initial;
    }
  }
}

#hero {
  .hero-cta {
    width: 35%;
    padding-right: 5%;
    .cta-message {
      p {
        display: inherit;
      }
    }
  }
}

section {
  header {
    max-width: 80ch;
  }
  padding-bottom: 0;
}

.features {
  flex-direction: row;
  div {
    width: 18%;
    text-align: center;
  }
}

/**********************
    SECTIONS
***********************/

#what-we-do {
  .wwd-grid {
    div {
      width: 40%;
    }

    .wwd-matrix {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 3em;
      grid-row-gap: 1em;
    }
  }
}

.flash-master-of-the-universe {
  grid-template-columns: 15% 85%;
}

#price-breakdown {
  .price-grid {
    width: 70%;
    font-size: initial;

    .flaunt-price {
      font-size: 200%;
    }
    .comp-price {
      font-size: 225%;
      font-weight: bold;
    }

    .braces {
      .big-brace {
        font-size: 800%;
      }

      ul {
        font-size: 125%;
      }
    }
  }
}

#partners {
  .partner-carousel {
    figure {
      width: 60ch;
    }
  }
}

/**********************
    PLANS GRID
***********************/

.wu-content-plan {
  .plan-tier {
    width: 60% !important;
    margin: 0 auto;
  }
}

/**********************
    COMPETITOR GRID
***********************/
.competitor-grid {
  .competitor {
    width: 48%;
  }
}

.site-info {
  padding: 1em 7em;
}

/**********************
    TUTORIALS
***********************/
article.tutorials {
  display: grid;
  grid-template-columns: 1fr 1fr;

  header {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.site-footer {
  .footer-widgets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto;
  }
  .footer-identity {
    width: 300px;
  }
}

.site-info {
  flex-direction: row;
}
