/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 100%;
}




/**********************
    PLANS GRID
***********************/

.wu-content-plan{
  .plan-tier{
      width:22.5%!important;
  }
}

/**********************
    COMPETITOR GRID
***********************/
.competitor-grid{
  .competitor{
      width: 22.5%;
  }
}