/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/


body.single-seoqa, body.post-type-archive-seoqa{
    background-image: none;
    background: -moz-linear-gradient(314deg, rgba(4,57,83,1) 0%, rgba(132,28,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(4,57,83,1)), color-stop(100%, rgba(132,28,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(314deg, rgba(4,57,83,1) 0%, rgba(132,28,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(314deg, rgba(4,57,83,1) 0%, rgba(132,28,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(314deg, rgba(4,57,83,1) 0%, rgba(132,28,0,1) 100%); /* ie10+ */
    background: linear-gradient(136deg, rgba(4,57,83,1) 0%, rgba(132,28,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#043953', endColorstr='#841C00',GradientType=1 ); /* ie6-9 */
    background-attachment:fixed;
}

body.page{
    background: #4c0001; /* Old browsers */
    background: -moz-linear-gradient(45deg, #4c0001 0%, #000046 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #4c0001 0%,#000046 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #4c0001 0%,#000046 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c0001', endColorstr='#000046',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-attachment:fixed;
}




/*********************
GENERAL STYLES
*********************/

/*****
Header
******/

.site-header{
    position: absolute;
    z-index: 100;
    width:100%; 
    top:0;
}



.stripes-container{
    float: left;
    width:100%;
}

.stripes{
    width:100%;
    height:5px;
    margin: 0 0 5px;
    background-color:$border;
    margin-left: -100%;
}


.site-main{
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);    
}



/*****
CONTENT
******/


.content{
    width: 80%;
    max-width: 1024px;
    margin: 12em auto;
}



/***********
    Sections
************/

section{
    height: 100vh;
    position: relative;
    margin: 0 auto;

    header{
        position: relative;
        z-index: 10;
        text-align: center;
        margin:0 auto;
        width:80ch;

        .white{
            color:#fff;
        }
    }

    h1, h2, p{
        color:#fff;
    }


}

.tint{
    background-color: rgba( 0, 0, 0, .7);    
    position: absolute;
    width:100%;
    height: 100%; 
    z-index: -1;  
    top:0;
    right:0;
    bottom: 0;
    left:0;     
}


.responsive-bg{
    position: absolute;
    z-index: -5; 
    top:0;
    right:0;
    bottom: 0;
    left:0;

   
    img{
        object-fit: cover;
        height: 100vh;      
    }
}

.features{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

        div{
            width:22%;
            text-align: center
        }
}

#hero{
    grid-template-columns: 1fr 45%;
    align-items: center;

    .hero-cta{


        .cta-message{
            grid-area: header;
        }

        .btn-open{
            grid-area: cta1;
        }

        .btn-closed{
            grid-area: cta2;
        }

    }   

}


#what-we-do{
    background: -moz-linear-gradient(314deg, rgba(4,57,83,1) 0%, rgba(132,28,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(4,57,83,1)), color-stop(100%, rgba(132,28,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(314deg, rgba(4,57,83,1) 0%, rgba(132,28,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(314deg, rgba(4,57,83,1) 0%, rgba(132,28,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(314deg, rgba(4,57,83,1) 0%, rgba(132,28,0,1) 100%); /* ie10+ */
    background: linear-gradient(136deg, rgba(4,57,83,1) 0%, rgba(132,28,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#043953', endColorstr='#841C00',GradientType=1 ); /* ie6-9 */


    .wwd-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        div{
            width:40%;
        }

        .wwd-matrix{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 3em;
            grid-row-gap: 1em;

            div{
                width:100%; 
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                fill:#fff;
                svg{
                    width:50%;
                    height: auto;
                }
            }
        }
    }


}


#themes{

    .theme-carousel{
        .theme-carousel-slide{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            img{
                max-height: 60vh;
                height: auto;
                width: auto;
                -webkit-box-shadow: 0px 0px 1.5em 1px rgba(0,0,0,.5);
                -moz-box-shadow: 0px 0px 1.5em 1px rgba(0,0,0,.5);
                box-shadow: 0px 0px 1.5em 1px rgba(0,0,0,.5);  
            }
        }

    }

}






#seo{
    background-image: none;
    background: -moz-linear-gradient(314deg, rgba(4,57,83,1) 0%, rgba(132,28,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(4,57,83,1)), color-stop(100%, rgba(132,28,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(314deg, rgba(4,57,83,1) 0%, rgba(132,28,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(314deg, rgba(4,57,83,1) 0%, rgba(132,28,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(314deg, rgba(4,57,83,1) 0%, rgba(132,28,0,1) 100%); /* ie10+ */
    background: linear-gradient(136deg, rgba(4,57,83,1) 0%, rgba(132,28,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#043953', endColorstr='#841C00',GradientType=1 ); /* ie6-9 */
    background-attachment:fixed;
}

#speed{
 
}

#security-support{
    background: rgba(114,0,44,1);
    background: -moz-linear-gradient(45deg, rgba(114,0,44,1) 0%, rgba(132,70,0,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(114,0,44,1)), color-stop(100%, rgba(132,70,0,1)));
    background: -webkit-linear-gradient(45deg, rgba(114,0,44,1) 0%, rgba(132,70,0,1) 100%);
    background: -o-linear-gradient(45deg, rgba(114,0,44,1) 0%, rgba(132,70,0,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(114,0,44,1) 0%, rgba(132,70,0,1) 100%);
    background: linear-gradient(45deg, rgba(114,0,44,1) 0%, rgba(132,70,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72002c', endColorstr='#844600', GradientType=1 );
}


#partners{
    background: rgba(114,0,44,1);
    background: -moz-linear-gradient(45deg, rgba(114,0,44,1) 0%, rgba(132,70,0,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(114,0,44,1)), color-stop(100%, rgba(132,70,0,1)));
    background: -webkit-linear-gradient(45deg, rgba(114,0,44,1) 0%, rgba(132,70,0,1) 100%);
    background: -o-linear-gradient(45deg, rgba(114,0,44,1) 0%, rgba(132,70,0,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(114,0,44,1) 0%, rgba(132,70,0,1) 100%);
    background: linear-gradient(45deg, rgba(114,0,44,1) 0%, rgba(132,70,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72002c', endColorstr='#844600', GradientType=1 );

    .partner-carousel {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        figure{
            width: 33%;
            img{
                width: 100%;
                height: 5em;
            }
    
            figcaption{
                color:#fff;
            }
        }

    }



}


.site-footer{
    background-color: #111;
    padding: 0 6%;
    color:#aaa;

    .footer-identity{
        width:300px;
        margin: 0 auto;
        padding: 1.5em 0 0;
        text-align: center;
    }

    .footer-widgets{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;

        .widget{
            list-style: none;
            padding: .25em;
            width:max-content;
            li{
                width:max-content;

                .widgettitle{
                    margin: 0;
                    font-size: 150%;
                    padding: 0;
                }
                
                ul{
                    list-style: none;
                    margin: 0;
                    padding-left: 0;
                    li{
                        font-weight: $font__weight;
                        a:hover{
                            color: $color__orange;
                        }
                    }
                }
            }

        }
    }
}

.chat-message {
    background-color: rgba( 255,255,255,.85 );
    font-family: 'Julius Sans One', sans-serif;
    color: $color__orange;
    position: fixed;
    bottom: 16px;
    height: 57px;
    width: 420px;
    right: 17px;
    display: flex;
    border-radius: 28px;
    border: 1px solid $color__orange;
    align-items: center;
    justify-content: base;
    padding-left: 10px;
    text-decoration: none;
}

.site-info{
    padding: 1em;
    background-color: #000;
    display: flex;
    justify-content: space-between; 
    font-size: 14px; 
}



/**********************
    PLANS GRID
***********************/

.plans{
    padding: 0!important;
    display: flex!important;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wu-content-plan{

    .plan-tier{
        border-radius: 25px!important; 
        -moz-border-radius: 25px!important;
        margin-top:0!important;
        width:100%!important;
        border: 2px solid #e7f2f0;
        padding-bottom: 5em;
    }

    .wu-cta {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        bottom: 0;
    }

}

#plan-64:after, #plan-65:after{
    content: "Coming Soon";
    padding-top: 8em;
    font-size: 150%;
    color: #666;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.8);
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}



/**********************
    COMPETITOR GRID
***********************/

.competitor-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    .competitor{
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 25px;

        ul{
            margin:0;
            padding: 0;

            li{
                list-style: none;
                border-top: 1px solid #ddd;
                padding: .75em 0;
            }
        }
    }
}



/**********************
    SPEED GRID
***********************/


.flash-master-of-the-universe{
    width:90%;
    margin:0 auto;
    display:grid;
    grid-template-columns: 15% 85%;
    align-items:center;
}
  
.contestant{
    width:100%;
    margin:0;
    padding:0
}

.empty{
    position: relative;
    width:0;
    height:.5em;
    border:1px solid #fff;
    border-radius:10px;

    p{
        position: absolute;
        right: -2.5em;
        color: #FFF;
        top: -1.3em;
        font-family: "Roboto", Helvetica, sans-serif;
        font-weight: 100;
        margin-bottom: 1.5em;
        font-size: 80%;
    }
}
  
#competitor-speed-one{
    background-color:rgba( 0,255,0, .5 );  
}

#competitor-speed-two{
    background-color:rgba( 255,255,0, .5 );  
}

#competitor-speed-three{
    background-color:rgba( 255,150,0, .5 );  
}

#competitor-speed-four{
    background-color:rgba( 255,0,0, .5 );  
}

#competitor-speed-five{
    background-color:rgba( 100,0,0,.9 );
}